// ==============
//     COLORS   |
// =============

$primary-color: #134f87;
$secondary-color: #ed6f55;
$text-color: #676767;

$herobg-color: #E6F3FF;

// FONT-SIZE
$font-size-normal: 1.8rem;
$font-size-small: 1.6rem;
$font-size-medium: 1.8rem;

// ===============
//     SHADOWS   |
// ==============

$shadow-small: 0rem 1rem 2rem rgba($color: #000, $alpha: .1);

$sides-padding: 0 7rem;
$ud-padding: 10 0rem;